/* myStyle.css */
body {
 background-color: white;
 color: #FFFFFF;
}

.button {
  background-color: #301934; /* Purple */
  border: none;
  color: #FFFFFF; /* White */
  text-decoration: none;
  margin: 4px 2px;
  display: block;
  width: 60%;
  border: none;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
