{% extends "template.html" %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Glasgow Science Centre</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                {% block content %}

				<!-- Main -->
					<div id="main">
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2><b>TEMP EXHIBIT NAME</b></h2> <!-- CHANGE THIS-->
										</header>
          						<img src="images/demo.jpeg" alt="" /> <!-- CHANGE THIS-->
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                  <h2><b>FURTHER</b></h2>
                  <p><a href = "https://www.sciencealert.com/13-science-facts-never-learned-high-school-2018"> LINKS </a></p>  <!-- CHANGE THIS-->
                    <img src="images/demo.jpeg" alt="" /> <!-- CHANGE THIS-->
                  </div>
								</div>
							</section>
                                        {% endblock %}



		<!-- Scripts -->
			 <script src="{{ url_for('static',    filename='scripts/jquery.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/jquery.scrollex.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/jquery.scrolly.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/browser.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/breakpoints.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/util.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/main.js') }}"></script>

	</body>
</html>
