<!DOCTYPE HTML>
<html>
	<head>
		<title>Glasgow Science Centre</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<img src="{{ url_for('static',    filename='images/logo.jpeg') }}" alt="" />
					</header>
                {% block content %}
                {% endblock %}
            </div>

    </body>

            <script src="{{ url_for('static',    filename='scripts/jquery.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/jquery.scrollex.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/jquery.scrolly.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/browser.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/breakpoints.min.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/util.js') }}"></script>
            <script src="{{ url_for('static',    filename='scripts/main.js') }}"></script>

</html>